# Ignore Directory
fw/sandbox/VibrationCheck/
pcb/Programmable-ball_lib
pcb/ref
pcb/programmable-ball_main/dxf
docs/mp3/pekora

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Autorouter files
*.pro
*.job

.vscode/

# Ignore ideaMaker working file
*.idea

# Unity
unity